/* 
font-family: 'Raleway', sans-serif;
font-family: 'Yeseva One', cursive; 
*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, sans-serif;
}

ul, menu, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


/* HEADER */

.header {
  padding: 15px 0;
}

.header > .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}

.header__nav.active {
  width: 100%;
}

.header__menu-wrap.active {
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.5);
  transform: none;
}

.header__menu-wrap {
  position: absolute;
  right: 0;
  width: 220px;
  height: 100%;
  margin-left: auto;
  padding: 25px 20px;
  background: grey;
  background-color: #fff;
  transition: .5s ease;
  transform: translateX(100%);
}

.header__menu-item {
  margin-bottom: 7px;
}

.header__menu-item a {
  color: #079262;
  font-family: 'Yeseva One', cursive;
  font-size: 18px;
  text-transform: uppercase;
}

.header__nav-btn {
  z-index: 5;
  position: fixed;
  right: 15px;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  background-color: #09af6e;
}

.header__nav-btn span {
  display: block;
  width: 28px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}

.header__nav-btn span::before, 
.header__nav-btn span::after {
  display: block;
  position: absolute;
  width: 28px;
  height: 1px;
  margin: 0 auto;
  content: '';
  background-color: #fff;
}

.header__nav-btn span::before {
  bottom: 5px;
}

.header__nav-btn span::after {
  top: 5px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  margin: 0px;
  color: #0f61a6;
  font-family: 'Yeseva One', cursive;
}

.header__logo span {
  color: #09af6e;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.header__tel {
  z-index: 2;
  color: #0f61a6;
  font-family: 'Yeseva One', cursive;
  cursor: pointer;
}

/* TOP SECTION */

.top-section {
  background-image: linear-gradient(rgba(15,191,130, 0.84) 32%, rgba(255,255,255, 0) 32%), url(../img/foam.svg), url(../img/bgrnd.webp), linear-gradient(rgba(15,191,130, 1) 32%, rgba(0,0,0, 0) 32%);

  /* background-image: url(../img/bgrnd.webp); */
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  background-size: auto;
  background-attachment: scroll;
  padding: 40px 0 70px;

}

.top-section__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top-section__list-item {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin: 0 15px;
}

.top-section__item-caption {
  margin-top: 20px;
  color: #fff;
  color: #fff;
  font-weight: 700;
  font-weight: 700;
  font-size: 24px;
  font-size: 30px;
  text-align: center;
}

.top-section__counter {
  display: flex;
  position: absolute;
  top: 15%;
  left: 5%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgb(7 146 98);
  font-weight: 500;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  background-color: rgba(255,255,255, 1);
  box-shadow: 0px 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0px rgb(155 250 217 / 50%), 0px 0px 0px 9px rgb(255 255 255 / 24%);
}

.top-section__item-img {
  width: 100%;
  max-width: 360px;
  height: 360px;
  object-fit: contain;
}

.top-section__btn {
  transition: .5s;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  min-height: 75px;
  margin: 55px auto 0;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  color: rgba(7,146,98, 1);
  font-weight: 800;
  font-size: 28px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(255,255,255, 1);
  box-shadow: 0px 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0px rgba(155,250,217, 0.5), 0px 0px 0px 9px rgba(255,255,255, 0.24);
}

.top-section__btn:hover {
  transform: scale(1.1);
  background-color: rgba(139,220,10, 0.65);
  box-shadow: 0px 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0px rgba(201,255,116, 0.65), 0px 0px 0px 9px rgba(201,255,116, 0.32);
}


/* SERVICES */

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  padding: 22px;
  border-radius: 12px;
  text-align: center;
  background-color: #1061a6;
}

/* ===================================================== */

.services__title {
  /* display: flex; */
  /* justify-content: center; */

  text-align: center;
  font-size: 55px;
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
}

.services__subtitle {
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
}

/* ============================================================ */

.services__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.services__img {
  width: 100px;
  height: 65px;
}

.services__item:hover {
  background-color:  #c9ff74;
  transition: .5s;
}



@media (min-width: 991px) {
  .header__nav {
    position: static;
    height: auto;
    background: none;
  }

  .header__menu {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    justify-content: center;
    margin: 0 auto;
  }

  .header__menu-item a {
    color: #0f61a6;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: .5s;
    padding: 8px 18px;
    text-transform: none;
  }
  
  .header__menu-item a:hover {
    border-top: 1px solid #09af6e;
    color: #09af6e;
  }

  .header__menu-wrap {
    display: flex;
    position: static;
    max-width: inherit;
    height: auto;
    background: none;
    box-shadow: none;
    transition: none;
    transform: none;
  }

  .header__nav-btn {
    display: none;
  }
}

@media (min-width: 767px) {
  .top-section__list {
    flex-direction: row;
    align-items: flex-start;
  }

  .services__list {
    flex-direction: row;
    align-items: start;
  }

  .services__item {
    margin: 5px;
    max-width: 350px;
  }
}

.form-section {
  padding: 80px 0;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to right, rgba(122,198,0, 0.81) 17%, rgba(255,255,255, 0) 77%), url(./../img/foam.svg);
  background-color: #079262;
  background-position: left 0px top 0px, left calc(-263px + 50%) bottom -344px;
}
.form{
  margin-top: 30px;
  height: 233px;
}
.form_data{
  display: flex;
}
.form input{
  border: none;
}
.form, .form_input{
  display: flex;
  flex-direction: column;
}
.form input[type="text"],
.form input[type="number"]{
  padding: 10px;
  border-radius: 5px;
}
.form input[type="text"],
.form input[type="number"]{
  margin-bottom: 5px;
}
.form_input input:last-child{
  margin-bottom: 0;
}
.form input[type="textarea"]{
  margin-left: 20px;
}
.form input[type="submit"]{
  margin-top: 20px;
  padding: 15px 30px;
  width: max-content;
}

/* FOOTER */

.footer {
  /* // */
}
