* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

ul, menu, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  min-height: 75px;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  color: rgba(7,146,98, 1);
  font-weight: 800;
  font-size: 28px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  -webkit-box-shadow: 0 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0 rgba(155,250,217, 0.5), 0 0 0 9px rgba(255,255,255, 0.24);
  box-shadow: 0 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0 rgba(155,250,217, 0.5), 0 0 0 9px rgba(255,255,255, 0.24);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.button:hover {
  color: #fff;
  background-color: rgba(139,220,10, 0.65);
  -webkit-box-shadow: 0 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0 rgba(201,255,116, 0.65), 0 0 0 9px rgba(201,255,116, 0.32);
  box-shadow: 0 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0 rgba(201,255,116, 0.65), 0 0 0 9px rgba(201,255,116, 0.32);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.input {
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input::placeholder {
  opacity: 0.5;
  color: black;
}


/* HEADER */

.header {
  padding: 15px 0;
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}

.header__nav.active {
  width: 100%;
}

.header__menu-wrap.active {
  -webkit-box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.5);
  box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.5);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.header__menu-wrap {
  position: absolute;
  right: 0;
  width: 220px;
  height: 100%;
  margin-left: auto;
  padding: 25px 20px;
  background: url('../img/test.png'), rgba(255,255,255,0.9);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background-blend-mode: color; 
}

.header__menu-item {
  margin-bottom: 12px;
}

.header__menu-item a {
  display: block;
  color: #079262;
  font-weight: 600;
  font-size: 21px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.header__nav-btn {
  z-index: 5;
  position: fixed;
  top: 14px;
  right: 15px;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  background-color: #09af6e;
  -webkit-box-shadow: 0 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0 rgb(155 250 217 / 50%), 0 0 0 9px rgb(255 255 255 / 24%);
  box-shadow: 0 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0 rgb(155 250 217 / 50%), 0 0 0 9px rgb(255 255 255 / 24%);
}

.header__nav-btn span {
  display: block;
  width: 28px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}

.header__nav-btn span::before, 
.header__nav-btn span::after {
  display: block;
  position: absolute;
  width: 28px;
  height: 1px;
  margin: 0 auto;
  content: '';
  background-color: #fff;
}

.header__nav-btn span::before {
  bottom: 5px;
}

.header__nav-btn span::after {
  top: 5px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  color: #07090b;
  line-height: 21px;
  font-family: 'Yeseva One', cursive;
}

.header__logo span {
  margin-left: 1px;
  color: #09af6e;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.header__tels-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.header__tel {
  margin-bottom: 4px;
  color: #07090b;
  font-family: 'Yeseva One', cursive;
  cursor: pointer;
}

/* TOP SECTION */

.top-section {
  /* background-image: linear-gradient(rgba(15,191,130, 0.84) 32%, rgba(255,255,255, 0) 32%), url(../img/foam.svg), url(../img/bgrnd.webp), linear-gradient(rgba(15,191,130, 1) 32%, rgba(0,0,0, 0) 32%); */

  padding: 40px 0 33px;
  background-image: url(../img/bgrnd.webp);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left;
  background-size: cover;
}

.top-section__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-section__list-item {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin: 0 15px 15px;
}

.top-section__item-caption {
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.top-section__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 15%;
  left: 5%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgb(7 146 98);
  font-weight: 500;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  background-color: rgba(255,255,255, 1);
  box-shadow: 0 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0 rgb(155 250 217 / 50%), 0 0 0 9px rgb(213 227 217 / 24%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-shadow: 0 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0 rgb(155 250 217 / 50%), 0 0 0 9px rgb(213 227 217 / 24%);
  }

.top-section__item-img {
  width: 100%;
  max-width: 360px;
  height: 360px;
  object-fit: contain;
}

.top-section__btn {
  margin: 55px auto 0;
}

/* SERVICES */

.services {
  padding: 40px 0 40px;
  font-family: 'Yeseva One', cursive; 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(15,191,130, 0.84)), to(rgba(255,255,255, 0))), url(../img/foam.svg), -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(15,191,130, 1)), to(rgba(0,0,0, 0))); 
  background-image: -o-linear-gradient(rgba(15,191,130, 0.84) 100%, rgba(255,255,255, 0) 100%), url(../img/foam.svg), -o-linear-gradient(rgba(15,191,130, 1) 70%, rgba(0,0,0, 0) 100%); 
  background-image: linear-gradient(rgba(15,191,130, 0.84) 100%, rgba(255,255,255, 0) 100%), url(../img/foam.svg), linear-gradient(rgba(15,191,130, 1) 70%, rgba(0,0,0, 0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  width: 340px;
  height: 340px;
  margin: 15px auto;
  padding: 45px 13px 92px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background-color: #1061a6;
  box-shadow: 0 58px 36px -44px rgba(60,102,139, 0.37);
  transition: .3s ease;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-shadow: 0 58px 36px -44px rgba(60,102,139, 0.37);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
}

.services__item-desc {
  display: flex;
  opacity: 0;
  z-index: 3;
  position: absolute;
  top: 72%;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 7px;
  border-radius: 8px;
  overflow: hidden;
  color: black;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;
}

.services__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  margin: 10px 0;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
}

.services__item-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  margin: 15px 0;
  color: rgba(201,255,116,1);
  font-size: 16px;
  transition: .3s ease;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
}

.services__title {
  margin-bottom: 15px;
  color: white;
  font-weight: 600;
  font-size: 55px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.services__subtitle {
  margin-bottom: 20px;
  color: #e3ffb8;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.services__list {
  height: 1080px;
  overflow-y: hidden;
}

.services__img {
  width: 100px;
  height: 65px;
}

.services__btn {
  margin: 30px auto;
}

.services__item-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 15%;
  left: 0;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.services__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
  position: relative;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  color: rgba(7,146,98, 1);
  font-weight: 800;
  font-size: 12px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(255,255,255, 1);
  box-shadow: 0 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0 rgb(155 250 217 / 50%), 0 0 0 9px rgb(255 255 255 / 24%);
  transition: .5s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-shadow: 0 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0 rgb(155 250 217 / 50%), 0 0 0 9px rgb(255 255 255 / 24%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-outline: none;
}

.services__item-btn:hover {
  color: #fff;
  background-color: rgba(139,220,10, 0.65);
  box-shadow: 0 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0 rgba(201,255,116, 0.65), 0 0 0 9px rgba(201,255,116, 0.32);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-box-shadow: 0 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0 rgba(201,255,116, 0.65), 0 0 0 9px rgba(201,255,116, 0.32);
}

/* PHOTO SECTION */

.photo-section {
  padding: 50px 0;
}

.photo-section__list {
  margin-top: 40px;
}

.photo-section__list-item {
  height: 400px;
  padding: 5px;
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  overflow: hidden;
}

.photo-section__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.photo-section__title {
  color: #64bc13;
  font-size: 45px;
  text-align: center;
}

.photo-section__subtitle {
  margin-top: 15px;
  color: #15344f;
  font-size: 21px;
  text-align: center;
}

/* FORM SECTION */

.form-section {
  padding: 80px 0;
  background-color: #079262;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(122,198,0, 0.81)), color-stop(77%, rgba(255,255,255, 0))), url(./../img/foam.svg);
  background-image: -o-linear-gradient(left, rgba(122,198,0, 0.81) 17%, rgba(255,255,255, 0) 77%), url(./../img/foam.svg);
  background-image: linear-gradient(to right, rgba(122,198,0, 0.81) 17%, rgba(255,255,255, 0) 77%), url(./../img/foam.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 0 top 0, left calc(-263px + 50%) bottom -344px;
}

.form-section__title {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

.form-section__subtitle {
  margin-top: 20px;
  color: #e3ffb8;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.form__tel-input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid yellow;
  color: white;
  font-weight: 500;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.form__tel {
  width: 118px;
  margin-bottom: 15px;
  padding: 15px 3px 1px;
  color: white;
  font-weight: 500;
  background: transparent;
}

.form {
  margin-top: 30px;
  height: 233px;
}

.form_data {
  display: flex;
}

.form, .form_input{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__submit {
  width: 213px;
  height: 69px;
  margin-top: 35px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #14334cf5;
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}

.form__submit:hover {
  background-color: rgba(7,146,98, 1);
}

.tel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
  position: fixed;
  right: 30px;
  bottom: 30px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 33px;
  background-color: #0dc280;
  box-shadow: 0 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0 rgb(155 250 217 / 50%), 0 0 0 9px rgb(255 255 255 / 24%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-shadow: 0 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0 rgb(155 250 217 / 50%), 0 0 0 9px rgb(255 255 255 / 24%);
}

.photo-section__btn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border: none;
  outline: none;
  font-size: 25px;
  cursor: pointer;
}

.slick-arrow {
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 0 7px rgba(229,241,241, 0.6);
  box-shadow: 0 0 0 7px rgba(229,241,241, 0.6);
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.slick-arrow:hover, 
.slick-arrow:focus {
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 0 0 7px rgba(201,255,116, 0.65);
  box-shadow: 0 0 0 7px rgba(201,255,116, 0.65);
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}

.photo-section__btn-right {
  right: 3%;
}

.photo-section__btn-left {
  left: 3%;
}

.slick-dots li,
.slick-dots li button {
  width: 20px;
  height: 4px;
}

.slick-dots li button:before,
.slick-dots li button:after {
  width: 20px;
  height: 4px;
  border-radius: 2px;
  content: '';
  background: rgba(15,191,130, 1);
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
}

.footer {
  padding: 80px 0;
  background-color: #14334cf5;
}

.footer__logo-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.footer__tels {
  width: fit-content;
  margin: 30px auto 0;
}

.footer__tel {
  display: block;
  margin-bottom: 12px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Yeseva One', cursive;
  text-align: center;
  letter-spacing: 2px;
}

.footer__coopyright {
  display: block;
  margin-top: 45px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.footer__menu {
  display: none;
  flex-grow: 1;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.footer__menu-item {
  display: flex;
  align-items: center;
}

.footer__menu-item a {
  padding: 8px 18px;
  color: #e3ffb8;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-transform: none;
  transition: .5s;
}

.footer__menu-item a:hover {
  border-top: 1px solid #e3ffb8;
}

.footer__menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  width: auto;
  height: auto;
  background: none;
  box-shadow: none;
  transition: none;
  transform: none;
  -webkit-box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  -webkit-transform: none;
  -ms-transform: none;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 25px;
}

.footer__social-item {
  color: #fff;
}

@media (min-width: 991px) {
  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    margin: 0 auto;
    background: none;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    right: 0;
    left: 0;
    justify-content: center;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }

  .header__menu-item a {
    padding: 8px 18px;
    color: #07090b;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
  }
  
  .header__menu-item a:hover {
    border-top: 1px solid #09af6e;
    color: #09af6e;
  }

  .header__menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
    transition: none;
    transform: none;
    -webkit-box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    -webkit-transform: none;
    -ms-transform: none;
  }

  .header__nav-btn {
    display: none;
  }

  .tel-btn {
    display: none;
  }

  .header__tels-block {
    position: static;
    margin: 0;
  }

  .top-section__item-caption {
    font-size: 30px;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer__logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 767px) {
  .top-section__list {
    flex-direction: row;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
  }

  .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    height: auto;
    padding-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: distribute;
    -webkit-box-align: start;
    -ms-flex-align: start;
  }

  .services__btn {
    display: none;
  }

  .slick-dots li,
  .slick-dots li button {
    width: 35px; 
  }

  .slick-dots li button:before,
  .slick-dots li button:after {
    width: 35px;
  }
}