/* 
font-family: 'Raleway', sans-serif;
font-family: 'Yeseva One', cursive; 
*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, sans-serif;
}

ul, menu, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  min-height: 75px;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  color: rgba(7,146,98, 1);
  font-weight: 800;
  font-size: 28px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0px rgba(155,250,217, 0.5), 0px 0px 0px 9px rgba(255,255,255, 0.24);
  transition: .5s;
}

.button:hover {
  color: #fff;
  background-color: rgba(139,220,10, 0.65);
  box-shadow: 0px 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0px rgba(201,255,116, 0.65), 0px 0px 0px 9px rgba(201,255,116, 0.32);
  transform: scale(1.1);
}

.input {
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input::placeholder {
  color: black;
}


/* HEADER */

.header {
  padding: 15px 0;
}

.header > .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}

.header__nav.active {
  width: 100%;
}

.header__menu-wrap.active {
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.5);
  transform: none;
}

.header__menu-wrap {
  position: absolute;
  right: 0;
  width: 220px;
  height: 100%;
  margin-left: auto;
  padding: 25px 20px;
  background: grey;
  background-color: #fff;
  transition: .5s ease;
  transform: translateX(100%);
}

.header__menu-item {
  margin-bottom: 12px;
}

.header__menu-item a {
  color: #079262;
  font-size: 21px;
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
}

.header__nav-btn {
  z-index: 5;
  position: fixed;
  right: 15px;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  background-color: #09af6e;
  box-shadow: 0px 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0px rgb(155 250 217 / 50%), 0px 0px 0px 9px rgb(255 255 255 / 24%);
}

/* .header__nav-btn.active {
  right: 30px;
} */

.header__nav-btn span {
  display: block;
  width: 28px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}

.header__nav-btn span::before, 
.header__nav-btn span::after {
  display: block;
  position: absolute;
  width: 28px;
  height: 1px;
  margin: 0 auto;
  content: '';
  background-color: #fff;
}

.header__nav-btn span::before {
  bottom: 5px;
}

.header__nav-btn span::after {
  top: 5px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  margin: 0px;
  color: #0f61a6;
  line-height: 21px;
  font-family: 'Yeseva One', cursive;
}

.header__logo span {
  color: #09af6e;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.header__tels-block {
  display: flex;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.header__tel {
  margin-bottom: 4px;
  color: #0f61a6;
  font-family: 'Yeseva One', cursive;
  cursor: pointer;
}

/* TOP SECTION */

.top-section {
  /* background-image: linear-gradient(rgba(15,191,130, 0.84) 32%, rgba(255,255,255, 0) 32%), url(../img/foam.svg), url(../img/bgrnd.webp), linear-gradient(rgba(15,191,130, 1) 32%, rgba(0,0,0, 0) 32%); */

  background-image: url(../img/bgrnd.webp);
  background-repeat: no-repeat;
  /* background-position: right 0 top 0; */
  background-position: left;
  background-size: cover;
  background-attachment: scroll;
  padding: 40px 0 70px;

}

.top-section__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top-section__list-item {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin: 0 15px 15px;
}

.top-section__item-caption {
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.top-section__counter {
  display: flex;
  position: absolute;
  top: 15%;
  left: 5%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgb(7 146 98);
  font-weight: 500;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  background-color: rgba(255,255,255, 1);
  box-shadow: 0px 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0px rgb(155 250 217 / 50%), 0px 0px 0px 9px rgb(213 227 217 / 24%);
}

.top-section__item-img {
  width: 100%;
  max-width: 360px;
  height: 360px;
  object-fit: contain;
}

.top-section__btn {
  margin: 55px auto 0;
}

/* SERVICES */

.services {
  padding: 10px 0 40px;
  font-family: 'Yeseva One', cursive; 
  /* background-image: linear-gradient(rgba(15,191,130, 0.84) 32%, rgba(255,255,255, 0) 32%), url(../img/foam.svg), linear-gradient(rgba(15,191,130, 1) 32%, rgba(0,0,0, 0) 32%); */
  background-image: linear-gradient(rgba(15,191,130, 0.84) 100%, rgba(255,255,255, 0) 100%), url(../img/foam.svg), linear-gradient(rgba(15,191,130, 1) 70%, rgba(0,0,0, 0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.services__item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  width: 340px;
  height: 340px;
  margin: 15px auto;
  padding: 45px 10px 92px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background-color: #1061a6;
  box-shadow: 0px 58px 36px -44px rgba(60,102,139, 0.37);
  transition: .3s ease;
}

.services__item-desc {
  opacity: 0;
  z-index: 3;
  position: absolute;
  top: 72%;
  right: 0;
  bottom: 0px;
  left: 0;
  height: fit-content;
  padding: 10px 7px;
  border-radius: 8px;
  overflow: hidden;
  color: black;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  transition: .5s;
}

.services__item-title {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  margin: 10px 0;
  font-weight: 500;
  font-size: 25px;
}

.services__item-cost {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  margin: 15px 0;
  color: rgba(201,255,116,1);
  font-size: 16px;
  transition: .3s ease;
}

.services__title {
  margin-bottom: 15px;
  color: white;
  font-weight: 600;
  font-size: 55px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.services__subtitle {
  margin-bottom: 20px;
  color: #e3ffb8;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.services__list {
  height: 1080px;
  overflow-y: hidden;
}

.services__img {
  width: 100px;
  height: 65px;
}

/* .services__item:hover {
  transition: .5s;
  background-color: rgba(122,198,0, 1);
  box-shadow: none;
} */

/* .services__item:hover .services__item-cost {
  color: #fff;
} */

.services__btn {
  margin: 30px auto;
}

.services__item-btn-wrapper {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 15%;
  left: 0;
  justify-content: center;
}

.services__item-btn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  color: rgba(7,146,98, 1);
  font-weight: 800;
  font-size: 12px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(255,255,255, 1);
  box-shadow: 0px 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0px rgb(155 250 217 / 50%), 0px 0px 0px 9px rgb(255 255 255 / 24%);
  transition: .5s;
  z-index: 9;
}

.services__item-btn:hover {
  color: #fff;
  transform: scale(1.1);
  background-color: rgba(139,220,10, 0.65);
  box-shadow: 0px 43px 27px -31px rgba(7,146,98, 1), 3px -4px 36px 0px rgba(201,255,116, 0.65), 0px 0px 0px 9px rgba(201,255,116, 0.32);
}

/* PHOTO SECTION */

.photo-section {
  padding: 50px 0;
}

.photo-section__list {
  margin-top: 40px;
}

.photo-section__list-item {
  height: 400px;
  padding: 5px;
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  overflow: hidden;
  /* background: #f7f7f7; */
  /* box-shadow: 0px 62px 37px -32px rgba(103,119,128, 0.16); */

}

.photo-section__item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.photo-section__title {
  font-size: 45px;
  color: #64bc13;
  text-align: center;
}

.photo-section__subtitle {
  margin-top: 15px;
  color: #15344f;
  font-size: 21px;
  text-align: center;
}

/* FORM SECTION */

.form-section {
  padding: 80px 0;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to right, rgba(122,198,0, 0.81) 17%, rgba(255,255,255, 0) 77%), url(./../img/foam.svg);
  background-color: #079262;
  background-position: left 0px top 0px, left calc(-263px + 50%) bottom -344px;
}

.form-section__title {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

.form-section__subtitle {
  margin-top: 20px;
  color: #e3ffb8;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.form__tel-input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid yellow;
  color: white;
  font-weight: 500;
}

.form__tel {
  width: 118px;
  margin-bottom: 15px;
  padding: 15px 3px 1px;
  color: white;
  font-weight: 500;
  background: transparent;
}

.form {
  margin-top: 30px;
  height: 233px;
}

.form_data {
  display: flex;
}

.form, .form_input{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__submit {
  width: 213px;
  height: 69px;
  margin-top: 35px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #14334cf5;
  transition: .3s;
}

.form__submit:hover {
  background-color: rgba(7,146,98, 1);
}

.tel-btn {
  z-index: 9999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 43px 27px -31px rgb(7 146 98), 3px -4px 36px 0 rgb(155 250 217 / 50%), 0 0 0 9px rgb(255 255 255 / 24%);
}


.slick-arrow {
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  background: transparent;
  box-shadow: 0px 0px 0px 7px rgba(229,241,241, 0.6);
  transition: .5s ease;
}

.slick-arrow:hover, 
.slick-arrow:focus {
  background: transparent;
  box-shadow: 0px 0px 0px 7px rgba(201,255,116, 0.65);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0ms;
}

.slick-next {
  right: 2%;
}

.slick-prev {
  left: 2%;
}

.slick-dots li,
.slick-dots li button {
  width: 35px;
  height: 4px;
}

.slick-dots li button:before,
.slick-dots li button:after {
  width: 35px;
  height: 4px;
  border-radius: 2px;
  content: '';
  background: rgba(15,191,130, 1);
  transition: .5s ease;
}

@media (min-width: 991px) {
  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    width: fit-content;
    height: auto;
    margin: 0 auto;
    background: none;
  }

  .header__menu {
    display: flex;
    position: static;
    right: 0;
    left: 0;
    justify-content: center;
    margin: 0 auto;
  }

  .header__menu-item a {
    padding: 8px 18px;
    color: #0f61a6;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    transition: .5s;
  }
  
  .header__menu-item a:hover {
    border-top: 1px solid #09af6e;
    color: #09af6e;
  }

  .header__menu-wrap {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
    transition: none;
    transform: none;
  }

  .header__nav-btn {
    display: none;
  }

  .tel-btn {
    display: none;
  }

  .header__tels-block {
    position: static;
    margin: 0;
  }

  /* .slick-next {
    right: -25px;
  }
  
  .slick-prev {
    left: -25px;
  } */

  .top-section__item-caption {
    font-size: 30px;
  }
}

@media (min-width: 767px) {
  .top-section__list {
    flex-direction: row;
    align-items: flex-start;
  }

  .services__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    height: auto;
    padding-bottom: 40px;
  }

  .services__btn {
    display: none;
  }
}

/* clean-house.ua */
